*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --section-bg: #def4fb;
    --text: #03001C;
}

/* =v= video =v= */

.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-bg {
    position: absolute;
    max-width: 100%;
    top: 0%;
    max-height: 60%;
    opacity: 0.4;
}

/* =v= Navbar =v= */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    
}

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-menu {
    display: flex;
    gap: 2rem;
    z-index: 1;
}

nav, img {
    visibility: hidden;
}






















@media screen and (max-width: 580px) {

  .nav {
    position: relative;
    
  }
  
  .dropdown-menu {
      display: none;
      position: absolute;
      right: 60px;
    
  }

  .nav:hover .dropdown-menu, ul{
      display: flex;
      flex-direction: column;
      margin-top: 290px;
      transform: translate(-100px 0px);
  }

  nav, img {
      visibility: visible;
      margin-left: 50px;
      position: absolute;
  }

}

